/* global skin ------------------------------------------------------------- */
@import url(chrome://global/skin/);


/* toolbar ----------------------------------------------------------------- */

toolbar[mode="icons"] .toolbarbutton-text {
  display: block !important;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: block;
}

toolbarbutton {
  -moz-box-orient: vertical;
}








.paneheader {
  font-family: verdana,tahoma,arial;
  color: white;
  /*background-color: #3169c6;*/
  background-color: #000;
  -moz-box-align: center;
}

.paneheader .tabs-closebutton {
  -moz-appearance: none;
  border: none;
  list-style-image: url(chrome://planea/skin/images/close-button.png);
  -moz-image-region: rect(0px 12px 11px 0px);
  padding:0px;
}

.paneheader .tabs-closebutton:hover {
  -moz-image-region: rect(0px 24px 11px 12px);
}



/** planea HTML */

#main {
	background-color: #FFF;
	height: 100%;
	width:100%;
	overflow: hidden;
}

#main_box {
	background-color: #FFF;
	height: 100%;
	width:100%;
	overflow: hidden;
}

#workspace_box {
	height: 100%;
	width:100%;
	overflow: hidden;
}

/*
li a.categoria {
	padding-left: 0px;
	padding-bottom: 10px;

	width: 230px;
	background-color: #FFFFFF;

	text-align: left;
	text-transform: uppercase;

	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	border-bottom: solid 1px #000000;	

}
*/



