<div class="campo campo-texto {CAMPOCONAYUDA} campo-{CLASE}" id="field_{IDCAMPO}">
	<div class="titulo">
			<label class="titulocampo" title="{AYUDARAPIDA}" onmouseover="javascript:ShowHint('{IDCAMPO}');"><span>{NOMBRECAMPO}</span>{HELPER}</label>
			{MARKER}			
	</div>
	<div class="entrada">
		
		<input class="texto" id="{IDCAMPO}" type="text" value="{VALOR}" title="{AYUDARAPIDA}" placeholder="{AYUDARAPIDA}" 
			onfocus="javascript:OpenHelp('{PATHCAMPO}');EditField('{PATHCAMPO}','{IDCAMPO}');"
			onclick="EditField('{PATHCAMPO}','{IDCAMPO}');"
			onblur="javascript:SaveField('{PATHCAMPO}','{IDCAMPO}');StopEditField('{PATHCAMPO}','{IDCAMPO}');"></input>
			
			<!--
		 <textarea class="parrafo" id="{IDCAMPO}"  title="{AYUDARAPIDA}" placeholder="{AYUDARAPIDA}" style="display: block;" rows="2"
		  onblur="javascript:SaveField('{PATHCAMPO}','{IDCAMPO}');StopEditField('{PATHCAMPO}','{IDCAMPO}');"
		  onfocus="javascript:EditField('{PATHCAMPO}','{IDCAMPO}');"
		  onchange="javascript:SaveField('{PATHCAMPO}','{IDCAMPO}');"
		  formula="{FORMULA}"
		>{VALOR}</textarea><cleartxtarea/>-->
		{FIELDACTIONS}
		 <!--
		 <textbox id="input_{IDCAMPO}" type="text" value="{VALOR}" title="{AYUDARAPIDA}" placeholder="{AYUDARAPIDA}" onfocus="javascript:OpenHelp('{PATHCAMPO}');"
         onchange="javascript:SaveField('{PATHCAMPO}','input_{IDCAMPO}');"
         />-->
	</div>
</div>
