<li class="categoria item-0 first level-0">
	<a href="#" onclick="javascript:openclose('menu_app_cuerpo','menu_app_cuerpo');">Archivo</a>
	<ul id="menu_app_cuerpo" class="secciones deep-0" style="display: block;">
		<li class="seccion item-0 nuevo first" onclick="javascript:newProject();"><span>Nuevo</span></li>
		<li class="seccion item-1 abrir" onclick="javascript:openProject();"><span>Abrir</span></li>
		<li class="seccion item-2 guardar" onclick="javascript:saveProject();"><span>Guardar</span></li>
		<li class="seccion item-3 guardarcomo" onclick="javascript:saveProjectAs();"><span>Guardar como</span></li>
		<li class="seccion item-4 imprimir" onclick="javascript:printProject();"><span>Imprimir</span></li>
		<li class="seccion" onclick="javascript:updateScheme();"><span>Actualizar plantilla</span></li>
		<li class="seccion"  onclick="javascript:restoreScheme();"><span>Restaurar plantilla</span></li>
		<li class="seccion"  
			onclick="javascript:window.openDialog('chrome://inspector/content/inspector.xul','', 'chrome,dialog=no,resizable=yes');"><span>DOM INSPECTOR<br/></span>
			
			</li>
		
	</ul>
</li>
